@*Html5 doctype*@
<!DOCTYPE html>
<html>

<head>
    @*name="viewport" - declare modile-first app for proper rendering and touch zooming*@
    @*width=device-width - lets take all actual with*@
    @*initial-scale=1 - keeps zoom when rotating device*@
    @*shrink-to-fit=no doesn't let content scale down when overflow*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*Base url for all relative URLs in a document*@
    @*Angular routing is not working without it*@
    <base href="/" />

    @*Importing vendor bundle that containg different commonly used libs that are needed throughout pages*@
    <link rel="stylesheet" href="~/vendor.css" asp-append-version="true" />
    <script src="~/vendor.bundle.js" asp-append-version="true"></script>
</head>

<body>
    @RenderBody()
</body>

</html>